In [1]:
import numpy as np
import baostock as bs
import pandas as pd
from numpy import  linalg
def blacklitterman(returns,tau,P,Q):
    mu = returns.mean()
    sigma = returns.cov()
    pil = np.expand_dims(mu,axis = 0).T
    ts = tau * sigma
    ts_1 = linalg.inv(ts)
    Omega = np.dot(np.dot(P,ts), P.T)* np.eye(Q.shape[0])
    Omega_1 = linalg.inv(Omega)
    er = np.dot(linalg.inv(ts_1 + np.dot(np.dot(P.T,Omega_1),P)),(np.dot(ts_1 ,pil)+np.dot(np.dot(P.T,Omega_1),Q)))
    posterirorSigma = linalg.inv(ts_1 + np.dot(np.dot(P.T,Omega_1),P))
    return [er, posterirorSigma]

In [2]:
pick1 = np.array([1,0,1,1,1])
q1 = np.array([0.003*4])
pick2 = np.array([0.5,0.5,0,0,-1])
q2 = np.array([0.001])
P = np.array([pick1,pick2])
Q = np.array([q1,q2])

In [5]:
def get_stock_data(t1,t2,stock_name):
    lg = bs.login()
    print('login respond error_code:' + lg.error_code)
    print('login respond  error_msg:' + lg.error_msg)

    #### 获取沪深A股历史K线数据 ####
    # 详细指标参数，参见“历史行情指标参数”章节
    rs = bs.query_history_k_data(stock_name,
                                 "date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST",
                                 start_date=t1, end_date=t2,
                                 frequency="d", adjustflag="3")
    print('query_history_k_data respond error_code:' + rs.error_code)
    print('query_history_k_data respond  error_msg:' + rs.error_msg)

    #### 打印结果集 ####
    data_list = []
    while (rs.error_code == '0') & rs.next():
        # 获取一条记录，将记录合并在一起
        data_list.append(rs.get_row_data())
    result = pd.DataFrame(data_list, columns=rs.fields)
    print(result)

    #### 结果集输出到csv文件 ####
    result.to_csv("D:\Job seeking\Huatai International\Week 2\history_A_stock_k_data.csv", index=False)
    print(result)

    #### 登出系统 ####
    bs.logout()
    result['date'] = pd.to_datetime(result['date'])
    result.set_index("date", inplace=True)
    return result

byjc = get_stock_data('2014-1-1','2015-1-1','sh.600004')
hxyh = get_stock_data('2014-1-1','2015-1-1','sh.600015')
zndl = get_stock_data('2014-1-1','2015-1-1','sh.600023')
fjgs = get_stock_data('2014-1-1','2015-1-1','sh.600033')
sykj = get_stock_data('2014-1-1','2015-1-1','sh.600183')


by = byjc['pctChg']
by.name = 'byjc'
by = pd.DataFrame(by,dtype=np.float)/100


hx = hxyh['pctChg']
hx.name = 'hxyh'
hx = pd.DataFrame(hx,dtype=np.float)/100

zn = zndl['pctChg']
zn.name = 'zndl'
zn = pd.DataFrame(zn,dtype=np.float)/100

fj = fjgs['pctChg']
fj.name = 'fjgs'
fj = pd.DataFrame(fj,dtype=np.float)/100

sy = sykj['pctChg']
sy.name = 'sykj'
sy = pd.DataFrame(sy,dtype=np.float)/100

sh_return = pd.concat([by,fj,hx,sy,zn],axis=1)
res = blacklitterman(sh_return,0.1,P,Q)
p_mean = pd.DataFrame(res[0],index = sh_return.columns, columns = ['posterior_mean'])
p_cov = res[1]
print(p_mean)
print(p_cov)

login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data respond error_code:0
query_history_k_data respond  error_msg:success
           date       code     open     high      low    close preclose  \
0    2014-01-02  sh.600004   6.9300   6.9700   6.9000   6.9400   6.9500
1    2014-01-03  sh.600004   6.9300   6.9300   6.7700   6.8800   6.9400
2    2014-01-06  sh.600004   6.8400   6.8400   6.7000   6.7500   6.8800
3    2014-01-07  sh.600004   6.7100   6.7700   6.6600   6.7000   6.7500
4    2014-01-08  sh.600004   6.7000   6.7600   6.6800   6.7400   6.7000
..          ...        ...      ...      ...      ...      ...      ...
240  2014-12-25  sh.600004  11.4000  11.7400  11.3600  11.6400  11.4200
241  2014-12-26  sh.600004  11.6800  11.9200  11.5300  11.8300  11.6400
242  2014-12-29  sh.600004  11.6400  11.6600  11.0900  11.2500  11.8300
243  2014-12-30  sh.600004  11.1800  11.2600  10.6500  10.7800  11.2500
244  2014-12-31  sh.600004  10.8000  10.9400  10.7000  10.9300  10.7800

       volume          amount adjustflag      turn tradestatus     pctChg isST
0     2786503   19293316.0000          3  0.242305           1  -0.143900    0
1     5183965   35432233.0000          3  0.450780           1  -0.864600    0
2     3401812   23024656.0000          3  0.295810           1  -1.889500    0
3     2080991   13972997.0000          3  0.180956           1  -0.740700    0
4     3919699   26372494.0000          3  0.340843           1   0.597000    0
..        ...             ...        ...       ...         ...        ...  ...
240  12853801  148438755.0000          3  1.117722           1   1.926400    0
241  23525976  276380880.0000          3  2.045737           1   1.632300    0
242  37596381  426010736.0000          3  3.269251           1  -4.902800    0
243  25075183  273427008.0000          3  2.180451           1  -4.177800    0
244  19707899  213624420.0000          3  1.713730           1   1.391500    0

[245 rows x 14 columns]
           date       code     open     high      low    close preclose  \
0    2014-01-02  sh.600004   6.9300   6.9700   6.9000   6.9400   6.9500
1    2014-01-03  sh.600004   6.9300   6.9300   6.7700   6.8800   6.9400
2    2014-01-06  sh.600004   6.8400   6.8400   6.7000   6.7500   6.8800
3    2014-01-07  sh.600004   6.7100   6.7700   6.6600   6.7000   6.7500
4    2014-01-08  sh.600004   6.7000   6.7600   6.6800   6.7400   6.7000
..          ...        ...      ...      ...      ...      ...      ...
240  2014-12-25  sh.600004  11.4000  11.7400  11.3600  11.6400  11.4200
241  2014-12-26  sh.600004  11.6800  11.9200  11.5300  11.8300  11.6400
242  2014-12-29  sh.600004  11.6400  11.6600  11.0900  11.2500  11.8300
243  2014-12-30  sh.600004  11.1800  11.2600  10.6500  10.7800  11.2500
244  2014-12-31  sh.600004  10.8000  10.9400  10.7000  10.9300  10.7800

       volume          amount adjustflag      turn tradestatus     pctChg isST
0     2786503   19293316.0000          3  0.242305           1  -0.143900    0
1     5183965   35432233.0000          3  0.450780           1  -0.864600    0
2     3401812   23024656.0000          3  0.295810           1  -1.889500    0
3     2080991   13972997.0000          3  0.180956           1  -0.740700    0
4     3919699   26372494.0000          3  0.340843           1   0.597000    0
..        ...             ...        ...       ...         ...        ...  ...
240  12853801  148438755.0000          3  1.117722           1   1.926400    0
241  23525976  276380880.0000          3  2.045737           1   1.632300    0
242  37596381  426010736.0000          3  3.269251           1  -4.902800    0
243  25075183  273427008.0000          3  2.180451           1  -4.177800    0
244  19707899  213624420.0000          3  1.713730           1   1.391500    0

[245 rows x 14 columns]
logout success!
login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data respond error_code:0
query_history_k_data respond  error_msg:success
           date       code     open     high      low    close preclose  \
0    2014-01-02  sh.600015   8.5100   8.5100   8.2400   8.3000   8.5700
1    2014-01-03  sh.600015   8.2500   8.2500   8.0000   8.0600   8.3000
2    2014-01-06  sh.600015   8.1000   8.1500   7.8100   7.8700   8.0600
3    2014-01-07  sh.600015   7.8200   7.9100   7.7400   7.8400   7.8700
4    2014-01-08  sh.600015   7.8700   8.0400   7.8100   8.0100   7.8400
..          ...        ...      ...      ...      ...      ...      ...
240  2014-12-25  sh.600015  11.4100  12.3400  11.3000  12.3400  11.2200
241  2014-12-26  sh.600015  12.2800  12.8400  12.0500  12.7400  12.3400
242  2014-12-29  sh.600015  13.2700  13.6000  12.6800  12.8200  12.7400
243  2014-12-30  sh.600015  12.7800  13.5600  12.6600  13.3100  12.8200
244  2014-12-31  sh.600015  13.3300  13.5600  13.0500  13.4600  13.3100

        volume           amount adjustflag      turn tradestatus     pctChg  \
0     37610633   312566000.0000          3  0.579723           1  -3.150500
1     29878459   241173977.0000          3  0.460541           1  -2.891600
2     34358547   272247248.0000          3  0.529596           1  -2.357300
3     21266442   166163363.0000          3  0.327797           1  -0.381200
4     29337361   233617796.0000          3  0.452201           1   2.168400
..         ...              ...        ...       ...         ...        ...
240  388298880  4703796224.0000          3  5.985167           1   9.982200
241  363912480  4528606976.0000          3  5.609279           1   3.241500
242  358146592  4714454784.0000          3  5.520405           1   0.627900
243  262004440  3472144528.0000          3  4.038488           1   3.822200
244  220222569  2942213440.0000          3  3.394470           1   1.127000

    isST
0      0
1      0
2      0
3      0
4      0
..   ...
240    0
241    0
242    0
243    0
244    0

[245 rows x 14 columns]
           date       code     open     high      low    close preclose  \
0    2014-01-02  sh.600015   8.5100   8.5100   8.2400   8.3000   8.5700
1    2014-01-03  sh.600015   8.2500   8.2500   8.0000   8.0600   8.3000
2    2014-01-06  sh.600015   8.1000   8.1500   7.8100   7.8700   8.0600
3    2014-01-07  sh.600015   7.8200   7.9100   7.7400   7.8400   7.8700
4    2014-01-08  sh.600015   7.8700   8.0400   7.8100   8.0100   7.8400
..          ...        ...      ...      ...      ...      ...      ...
240  2014-12-25  sh.600015  11.4100  12.3400  11.3000  12.3400  11.2200
241  2014-12-26  sh.600015  12.2800  12.8400  12.0500  12.7400  12.3400
242  2014-12-29  sh.600015  13.2700  13.6000  12.6800  12.8200  12.7400
243  2014-12-30  sh.600015  12.7800  13.5600  12.6600  13.3100  12.8200
244  2014-12-31  sh.600015  13.3300  13.5600  13.0500  13.4600  13.3100

        volume           amount adjustflag      turn tradestatus     pctChg  \
0     37610633   312566000.0000          3  0.579723           1  -3.150500
1     29878459   241173977.0000          3  0.460541           1  -2.891600
2     34358547   272247248.0000          3  0.529596           1  -2.357300
3     21266442   166163363.0000          3  0.327797           1  -0.381200
4     29337361   233617796.0000          3  0.452201           1   2.168400
..         ...              ...        ...       ...         ...        ...
240  388298880  4703796224.0000          3  5.985167           1   9.982200
241  363912480  4528606976.0000          3  5.609279           1   3.241500
242  358146592  4714454784.0000          3  5.520405           1   0.627900
243  262004440  3472144528.0000          3  4.038488           1   3.822200
244  220222569  2942213440.0000          3  3.394470           1   1.127000

    isST
0      0
1      0
2      0
3      0
4      0
..   ...
240    0
241    0
242    0
243    0
244    0

[245 rows x 14 columns]
logout success!
login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data respond error_code:0
query_history_k_data respond  error_msg:success
           date       code    open    high     low   close preclose    volume  \
0    2014-01-02  sh.600023  6.7500  6.9000  6.7400  6.8200   6.7600  44545195
1    2014-01-03  sh.600023  6.7800  6.8200  6.5400  6.7300   6.8200  60690350
2    2014-01-06  sh.600023  6.6900  6.9600  6.6600  6.7700   6.7300  56959661
3    2014-01-07  sh.600023  6.7300  6.7600  6.5800  6.6800   6.7700  31335026
4    2014-01-08  sh.600023  6.6500  6.9100  6.6200  6.7400   6.6800  46937432
..          ...        ...     ...     ...     ...     ...      ...       ...
240  2014-12-25  sh.600023  6.8600  7.1500  6.7300  7.1400   6.8300  50530942
241  2014-12-26  sh.600023  7.1000  7.2800  7.0200  7.1900   7.1400  56527224
242  2014-12-29  sh.600023  7.2400  7.4100  7.0700  7.1400   7.1900  57538271
243  2014-12-30  sh.600023  7.0900  7.1600  6.8300  6.9400   7.1400  45372773
244  2014-12-31  sh.600023  6.9000  7.2500  6.8800  7.1700   6.9400  44343965

             amount adjustflag      turn tradestatus     pctChg isST
0    303900512.0000          3  7.324468           1   0.887600    0
1    404486064.0000          3  9.979181           1  -1.319600    0
2    388626464.0000          3  9.365752           1   0.594400    0
3    208980863.0000          3  5.152349           1  -1.329400    0
4    318113664.0000          3  7.717819           1   0.898200    0
..              ...        ...       ...         ...        ...  ...
240  351166432.0000          3  6.391224           1   4.538800    0
241  405178880.0000          3  7.149642           1   0.700300    0
242  417209952.0000          3  7.277521           1  -0.695400    0
243  315422704.0000          3  5.738812           1  -2.801100    0
244  314489888.0000          3  5.608687           1   3.314100    0

[245 rows x 14 columns]
           date       code    open    high     low   close preclose    volume  \
0    2014-01-02  sh.600023  6.7500  6.9000  6.7400  6.8200   6.7600  44545195
1    2014-01-03  sh.600023  6.7800  6.8200  6.5400  6.7300   6.8200  60690350
2    2014-01-06  sh.600023  6.6900  6.9600  6.6600  6.7700   6.7300  56959661
3    2014-01-07  sh.600023  6.7300  6.7600  6.5800  6.6800   6.7700  31335026
4    2014-01-08  sh.600023  6.6500  6.9100  6.6200  6.7400   6.6800  46937432
..          ...        ...     ...     ...     ...     ...      ...       ...
240  2014-12-25  sh.600023  6.8600  7.1500  6.7300  7.1400   6.8300  50530942
241  2014-12-26  sh.600023  7.1000  7.2800  7.0200  7.1900   7.1400  56527224
242  2014-12-29  sh.600023  7.2400  7.4100  7.0700  7.1400   7.1900  57538271
243  2014-12-30  sh.600023  7.0900  7.1600  6.8300  6.9400   7.1400  45372773
244  2014-12-31  sh.600023  6.9000  7.2500  6.8800  7.1700   6.9400  44343965

             amount adjustflag      turn tradestatus     pctChg isST
0    303900512.0000          3  7.324468           1   0.887600    0
1    404486064.0000          3  9.979181           1  -1.319600    0
2    388626464.0000          3  9.365752           1   0.594400    0
3    208980863.0000          3  5.152349           1  -1.329400    0
4    318113664.0000          3  7.717819           1   0.898200    0
..              ...        ...       ...         ...        ...  ...
240  351166432.0000          3  6.391224           1   4.538800    0
241  405178880.0000          3  7.149642           1   0.700300    0
242  417209952.0000          3  7.277521           1  -0.695400    0
243  315422704.0000          3  5.738812           1  -2.801100    0
244  314489888.0000          3  5.608687           1   3.314100    0

[245 rows x 14 columns]
logout success!
login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data respond error_code:0
query_history_k_data respond  error_msg:success
           date       code    open    high     low   close preclose    volume  \
0    2014-01-02  sh.600033  2.1300  2.1500  2.1100  2.1400   2.1400   4835438
1    2014-01-03  sh.600033  2.1400  2.1500  2.1200  2.1500   2.1400  10474269
2    2014-01-06  sh.600033  2.1400  2.1500  2.1000  2.1000   2.1500   3293999
3    2014-01-07  sh.600033  2.1000  2.1200  2.0900  2.1100   2.1000   2799445
4    2014-01-08  sh.600033  2.1100  2.1200  2.0800  2.0800   2.1100   2800150
..          ...        ...     ...     ...     ...     ...      ...       ...
240  2014-12-25  sh.600033  3.7900  3.8600  3.7700  3.8500   3.7900  33736832
241  2014-12-26  sh.600033  3.8600  3.9900  3.8600  3.9500   3.8500  51365620
242  2014-12-29  sh.600033  3.9900  4.0200  3.9100  3.9700   3.9500  50400013
243  2014-12-30  sh.600033  3.9600  3.9600  3.8000  3.8100   3.9700  39347016
244  2014-12-31  sh.600033  3.8000  3.8600  3.7500  3.8100   3.8100  44445778

             amount adjustflag      turn tradestatus     pctChg isST
0     10296372.0000          3  0.360922           1   0.000000    0
1     22377045.0000          3  0.781809           1   0.467300    0
2      6960010.0000          3  0.245867           1  -2.325600    0
3      5886346.0000          3  0.208953           1   0.476200    0
4      5867806.0000          3  0.209006           1  -1.421800    0
..              ...        ...       ...         ...        ...  ...
240  129169972.0000          3  1.229297           1   1.583100    0
241  202515098.0000          3  1.871652           1   2.597400    0
242  200434833.0000          3  1.836467           1   0.506300    0
243  151810409.0000          3  1.433720           1  -4.030200    0
244  168671080.0000          3  1.619508           1   0.000000    0

[245 rows x 14 columns]
           date       code    open    high     low   close preclose    volume  \
0    2014-01-02  sh.600033  2.1300  2.1500  2.1100  2.1400   2.1400   4835438
1    2014-01-03  sh.600033  2.1400  2.1500  2.1200  2.1500   2.1400  10474269
2    2014-01-06  sh.600033  2.1400  2.1500  2.1000  2.1000   2.1500   3293999
3    2014-01-07  sh.600033  2.1000  2.1200  2.0900  2.1100   2.1000   2799445
4    2014-01-08  sh.600033  2.1100  2.1200  2.0800  2.0800   2.1100   2800150
..          ...        ...     ...     ...     ...     ...      ...       ...
240  2014-12-25  sh.600033  3.7900  3.8600  3.7700  3.8500   3.7900  33736832
241  2014-12-26  sh.600033  3.8600  3.9900  3.8600  3.9500   3.8500  51365620
242  2014-12-29  sh.600033  3.9900  4.0200  3.9100  3.9700   3.9500  50400013
243  2014-12-30  sh.600033  3.9600  3.9600  3.8000  3.8100   3.9700  39347016
244  2014-12-31  sh.600033  3.8000  3.8600  3.7500  3.8100   3.8100  44445778

             amount adjustflag      turn tradestatus     pctChg isST
0     10296372.0000          3  0.360922           1   0.000000    0
1     22377045.0000          3  0.781809           1   0.467300    0
2      6960010.0000          3  0.245867           1  -2.325600    0
3      5886346.0000          3  0.208953           1   0.476200    0
4      5867806.0000          3  0.209006           1  -1.421800    0
..              ...        ...       ...         ...        ...  ...
240  129169972.0000          3  1.229297           1   1.583100    0
241  202515098.0000          3  1.871652           1   2.597400    0
242  200434833.0000          3  1.836467           1   0.506300    0
243  151810409.0000          3  1.433720           1  -4.030200    0
244  168671080.0000          3  1.619508           1   0.000000    0

[245 rows x 14 columns]
logout success!
login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data respond error_code:0
query_history_k_data respond  error_msg:success
           date       code    open    high     low   close preclose    volume  \
0    2014-01-02  sh.600183  4.9300  4.9600  4.9000  4.9500   4.9400   4515667
1    2014-01-03  sh.600183  4.9400  4.9400  4.8400  4.8900   4.9500   4680096
2    2014-01-06  sh.600183  4.8900  4.9000  4.7500  4.7600   4.8900   3605908
3    2014-01-07  sh.600183  4.7400  4.8700  4.7000  4.8600   4.7600   3922709
4    2014-01-08  sh.600183  4.8600  4.8700  4.7600  4.7900   4.8600   4216946
..          ...        ...     ...     ...     ...     ...      ...       ...
240  2014-12-25  sh.600183  7.4800  7.6100  7.4100  7.5200   7.4300  15656840
241  2014-12-26  sh.600183  7.5200  7.5700  7.4600  7.5200   7.5200  12800453
242  2014-12-29  sh.600183  7.5200  7.7000  7.5100  7.6700   7.5200  32169325
243  2014-12-30  sh.600183  7.7400  7.8500  7.6500  7.7200   7.6700  32852912
244  2014-12-31  sh.600183  7.6700  8.0300  7.6200  7.9800   7.7200  42415283

             amount adjustflag      turn tradestatus     pctChg isST
0     22262918.0000          3  0.322431           1   0.202400    0
1     22796852.0000          3  0.334171           1  -1.212100    0
2     17330092.0000          3  0.257472           1  -2.658500    0
3     18891236.0000          3  0.280092           1   2.100800    0
4     20234559.0000          3  0.301101           1  -1.440300    0
..              ...        ...       ...         ...        ...  ...
240  117595706.0000          3  1.100256           1   1.211300    0
241   96255432.0000          3  0.899528           1   0.000000    0
242  244497697.0000          3  2.260640           1   1.994700    0
243  254184709.0000          3  2.308678           1   0.651900    0
244  333519072.0000          3  2.980656           1   3.367900    0

[245 rows x 14 columns]
           date       code    open    high     low   close preclose    volume  \
0    2014-01-02  sh.600183  4.9300  4.9600  4.9000  4.9500   4.9400   4515667
1    2014-01-03  sh.600183  4.9400  4.9400  4.8400  4.8900   4.9500   4680096
2    2014-01-06  sh.600183  4.8900  4.9000  4.7500  4.7600   4.8900   3605908
3    2014-01-07  sh.600183  4.7400  4.8700  4.7000  4.8600   4.7600   3922709
4    2014-01-08  sh.600183  4.8600  4.8700  4.7600  4.7900   4.8600   4216946
..          ...        ...     ...     ...     ...     ...      ...       ...
240  2014-12-25  sh.600183  7.4800  7.6100  7.4100  7.5200   7.4300  15656840
241  2014-12-26  sh.600183  7.5200  7.5700  7.4600  7.5200   7.5200  12800453
242  2014-12-29  sh.600183  7.5200  7.7000  7.5100  7.6700   7.5200  32169325
243  2014-12-30  sh.600183  7.7400  7.8500  7.6500  7.7200   7.6700  32852912
244  2014-12-31  sh.600183  7.6700  8.0300  7.6200  7.9800   7.7200  42415283

             amount adjustflag      turn tradestatus     pctChg isST
0     22262918.0000          3  0.322431           1   0.202400    0
1     22796852.0000          3  0.334171           1  -1.212100    0
2     17330092.0000          3  0.257472           1  -2.658500    0
3     18891236.0000          3  0.280092           1   2.100800    0
4     20234559.0000          3  0.301101           1  -1.440300    0
..              ...        ...       ...         ...        ...  ...
240  117595706.0000          3  1.100256           1   1.211300    0
241   96255432.0000          3  0.899528           1   0.000000    0
242  244497697.0000          3  2.260640           1   1.994700    0
243  254184709.0000          3  2.308678           1   0.651900    0
244  333519072.0000          3  2.980656           1   3.367900    0

[245 rows x 14 columns]
logout success!
      posterior_mean
byjc        0.002632
fjgs        0.003094
hxyh        0.002724
sykj        0.002795
zndl        0.002052
[[ 1.92948606e-05  9.75520212e-06  2.34707141e-07  2.74873537e-06
   7.39396157e-06]
 [ 9.75520212e-06  2.79583255e-05  3.52175803e-07  4.20519121e-06
   1.07063349e-05]
 [ 2.34707141e-07  3.52175803e-07  3.35928610e-05 -2.51354541e-06
   1.93392716e-06]
 [ 2.74873537e-06  4.20519121e-06 -2.51354541e-06  2.64240761e-05
   1.88817682e-06]
 [ 7.39396157e-06  1.07063349e-05  1.93392716e-06  1.88817682e-06
   2.26356359e-05]]

C:\Users\79298\AppData\Local\Temp\ipykernel_20932\379161169.py:42: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  by = pd.DataFrame(by,dtype=np.float)/100
C:\Users\79298\AppData\Local\Temp\ipykernel_20932\379161169.py:47: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  hx = pd.DataFrame(hx,dtype=np.float)/100
C:\Users\79298\AppData\Local\Temp\ipykernel_20932\379161169.py:51: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  zn = pd.DataFrame(zn,dtype=np.float)/100
C:\Users\79298\AppData\Local\Temp\ipykernel_20932\379161169.py:55: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  fj = pd.DataFrame(fj,dtype=np.float)/100
C:\Users\79298\AppData\Local\Temp\ipykernel_20932\379161169.py:59: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  sy = pd.DataFrame(sy,dtype=np.float)/100

In [6]:
def blminVar(blres, goalRet):
    covs = np.array(blres[1],dtype=float)
    means = np.array(blres[0],dtype=float)
    L1 = np.append(np.append(covs.swapaxes(0,1),[means.flatten()],axis=0),
                   [np.ones(len(means))],axis=0).swapaxes(0,1)

    L2 = list(np.ones(len(means)))
    L2.extend([0,0])
    L3 = list(means)
    L3.extend([0,0])
    L4 = np.array([L2,L3],dtype=float)
    L = np.append(L1,L4,axis=0)
    results = linalg.solve(L,np.append(np.zeros(len(means)),[1,goalRet]))

    return pd.DataFrame(results[:-2],columns = ['p_weight'])

blresult = blminVar(res,0.70/252)
print(blresult)

   p_weight
0  0.246287
1  0.196282
2  0.254303
3  0.279113
4  0.024014

C:\Users\79298\AppData\Local\Temp\ipykernel_20932\155825299.py:11: DeprecationWarning: setting an array element with a sequence. This was supported in some cases where the elements are arrays with a single element. For example `np.array([1, np.array([2])], dtype=int)`. In the future this will raise the same ValueError as `np.array([1, [2]], dtype=int)`.
  L4 = np.array([L2,L3],dtype=float)